<nav id="navbar">
	<div class="container">
		<ul>
		    <li><a href="Uncles.html">Home</a></li>
			<li><a href="History.html">History</a></li>
			<li><a href="Gallery.html">Gallery</a></li>
			<li><a href="travel.html">Travel Packages</a></li>
			<li><a href="AboutUs.html">About Us</a></li>
				
		</ul>
	</div>
</nav>
