<!DOCTYPE html>
<html>
<head>
	<title>Trips</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<!-- Header -->
	<header id="main-header">
		<div class="container">
			<h1>Uncle's Travel Packages</h1>
		</div>
		
	</header>

	<!-- Navigation bar with links -->
	{{> header}}

	<!-- Adding elements for travel packages -->
	<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Travel Packages</h1>
							<ul id="sites">
								{{#each trips}}
									<li>
										<a href="/travel"><img src="images/{{this.image}}" alt="Img"</a>
										<h2><a href="/travel">{{this.name}}</a></h2>
										{{{this.description}}}
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>

<!-- Footer defined here -->
<footer id="main-footer">
		{{> footer}}
		<p>Copyright &copy 2025; My Website</p>
	</footer>






	

</body>
</html>